:root {
  --dark-blue: #121f3d;
  --white: #eff3f8;
  --light-blue: #33b1ff;
  --light-blue2: #009ffc;
  --green: #98ca3f;
  --purple: #bca2ff;
  --yellow: #ffbe1c;
  --red: #fe6264;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 340px;
  background-color: var(--dark-blue);
  color: var(--white);
  overflow: hidden;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

h2,
button,
.footer__text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
}

p {
  font-weight: 500;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

header {
  width: calc(100% - (12px * 2));
  height: 40px;
  margin-inline: 12px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-button {
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
}

.image-wrapper {
  width: 100px;
  height: 40px;
}

.logo {
  width: 100%;
}

main {
  width: 100%;
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.time {
  width: 280px;
  margin: 0 auto;
}

.time__text {
  text-align: center;
  font-size: 4.6rem;
  line-height: 4.8rem;
  margin-top: 18px;
}

.button--active,
.button--inactive {
  height: 40px;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  text-align: center;
}

.button--active {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.button--inactive {
  background-color: #24385b;
  color: #8da2c0;
}

footer {
  margin-bottom: 20px;
}

.footer__text {
  text-align: center;
  font-style: italic;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.scroll-container {
  width: 280px;
  max-height: 234px;
  margin-block: 16px;
  overflow-y: auto;
}

.scroll-container::-webkit-scrollbar {
  width: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #24385b;
  border-radius: 2px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #8da2c0;
}

.classes-container {
  margin-block: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.class-wrapper {
  width: 100%;
}

.class__input {
  display: none;
}

.class__label {
  width: 100%;
  cursor: pointer;
}

.class__container {
  width: 100%;
  display: flex;
  align-items: center;
}

.class__checkbox {
  width: 20px;
  height: 20px;
  margin-inline: 10px;
  display: grid;
  place-content: center;
  border-radius: 4px;
  border: 2px solid var(--light-blue2);
}

.svg-check--active {
  fill: var(--light-blue2);
  opacity: 0;
}

.class__input:checked + .class__label .svg-check--active {
  opacity: 1;
}

.class-wrapper:nth-child(2n) .class__checkbox {
  border-color: var(--purple);
}

.class-wrapper:nth-child(2n) .svg-check--active {
  fill: var(--purple);
}

.class-wrapper:nth-child(3n) .class__checkbox {
  border-color: var(--yellow);
}

.class-wrapper:nth-child(3n) .svg-check--active {
  fill: var(--yellow);
}

.class-wrapper:nth-child(4n) .class__checkbox {
  border-color: var(--red);
}

.class-wrapper:nth-child(4n) .svg-check--active {
  fill: var(--red);
}

.svg-check--inactive {
  display: none;
}

.class__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.class__title {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-bottom: 2px;
}

.class__completed,
.class__to-watch {
  font-size: 1rem;
  line-height: 1.2rem;
}

.class__to-watch {
  display: none;
}

.class__completed {
  color: var(--green);
}

.class__logo {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  vertical-align: text-bottom;
}
